[Unit]
Description=Nodejs HAPI server running on localhost
After=network.target

[Service]
PrivateTmp=true
# Update these environment settings
Environment="HAPISERVERPATH=<path/to/helioviewer-hapi>" "HAPISERVERHOME=<path/to/server-nodejs>" "PYTHONEXE=" "DB_USER=" "DB_PASSWORD=" "DB_NAME=" "DB_HOST=" "HOSTNAME="
User=<some non root user>
Group=<some non root user>
PIDFile=/var/run/hapi_nodejs/hapi.pid
ExecStart=node ${HAPISERVERHOME}/server.js --file ${HAPISERVERPATH}/meta.json

[Install]
WantedBy=multi-user.target